* {
  box-sizing: border-box;
}

.page-wrap {
  width: 800px;
  margin: 20px auto;
}

h1 {
  font-size: 4em;
  margin: 0 0 10px 0;
}

h2 {
  margin: 0 0 10px 0;
}

img {
  display: block;
}

a {
  color: lightblue;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}
.story-intro h1 {
  font-size: 2.5em;
}
.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0;
}
.sub-stories .sub-story {
  float: left;
  width: 250px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
}
.sub-stories .sub-story.last {
  margin-right: 0;
}

@media (max-width: 840px) {
  .page-wrap {
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  .main-story {
    width: 100%;
  }
  .main-story img {
    width: 100%;
  }
  .main-story .story-intro {
    padding: 14px;
  }
  .main-story .story-intro h1 {
    font-size: 2em;
  }
  .main-story .story-intro p {
    font-size: 1.2em;
  }

  .sub-stories {
    width: 100%;
  }
  .sub-stories .sub-story {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .sub-stories .sub-story img {
    width: 20%;
  }
  .sub-stories .sub-story .story-intro {
    left: 20%;
    height: 100%;
    width: 80%;
    padding: 14px;
  }
  .sub-stories .sub-story .story-intro h2 {
    font-size: 1.6em;
  }
  .sub-stories .sub-story .story-intro p {
    font-size: 1.2em;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 2em;
  }

  .main-story .story-intro {
    padding: 14px;
    position: static;
  }
  .main-story .story-intro h1 {
    font-size: 1.4em;
  }
  .main-story .story-intro p {
    font-size: 0.8em;
  }

  .sub-stories .sub-story {
    margin-bottom: 10px;
  }
  .sub-stories .sub-story img {
    display: none;
  }
  .sub-stories .sub-story .story-intro {
    width: 100%;
    position: sticky;
  }
  .sub-stories .sub-story .story-intro h2 {
    margin-bottom: 0;
  }
  .sub-stories .sub-story .story-intro p {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
