//Colors
$lightGray: #cccccc;
$darkGray: #999999;
$blue: #3572b0;
$blueDark: #2A5C8D;
$black: #333333;
$white: #ffffff;

//Badges Colors
$blueBadgeBorder: #a4b3c2;
$blueBadgeText: #4a6785;

$yellowBadgeBorder: #ffe9a8;
$yellowBadgeText: #594300;
