@media (max-width: 840px) {
  .page-wrap {
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  .main-story {
    width: 100%;

    img {
      width: 100%;
    }

    .story-intro {
      padding: 14px;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  .sub-stories {
    width: 100%;

    .sub-story {
      width: 100%;
      margin-bottom: 30px;
      margin-right: 0px;

      img {
        width: 20%;
      }

      .story-intro {
        left: 20%;
        height: 100%;
        width: 80%;
        padding: 14px;

        h2 {
          font-size: 1.6em;
        }

        p {
          font-size: 1.2em;
        }
      }
    }
  }
}
