@media (max-width: 576px) {
  h1 {
    font-size: 2em;
  }

  .main-story {
    .story-intro {
      padding: 14px;
      position: static;

      h1 {
        font-size: 1.4em;
      }

      p {
        font-size: 0.8em;
      }
    }
  }

  .sub-stories .sub-story {
    margin-bottom: 10px;

    img {
      display: none;
    }

    .story-intro {
      width: 100%;
      position: sticky;

      h2 {
        margin-bottom: 0;
      }

      p {
        display: none;
      }
    }
  }
}
