* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-wrap {
  width: 840px;
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: row;
}

.description img {
  width: 360px;
  margin-right: 20px;
}

img {
  display: block;
}

.card {
  width: 360px;
  height: 460px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px;
}

.card__header,
.card__avatars,
.card__names,
.card__footer {
  display: flex;
  justify-content: space-between;
}

.card__participants {
  margin-top: 27px;
}
.card__participants .card__avatars {
  align-content: center;
  align-items: center;
}
.card__participants .card__avatars .avatar {
  width: 64px;
  height: 64px;
  border: 1px solid #cccccc;
  border-radius: 50%;
}
.card__participants .card__names {
  margin-top: 16px;
  align-content: center;
  align-items: center;
}
.card__participants .card__names .name__details {
  color: #999999;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 11px;
}
.card__participants .card__names .name__details:nth-child(2) {
  text-align: right;
}
.card__participants .card__names .badge {
  display: block;
  border-radius: 3px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1px 5px 2px 5px;
  text-align: center;
  margin-top: 6px;
}
.card__participants .card__names .badge.badge--blue {
  background: #ffffff;
  border: 1px solid #a4b3c2;
  color: #4a6785;
}
.card__participants .card__names .badge.badge--yellow {
  background: #ffffff;
  border: 1px solid #ffe9a8;
  color: #594300;
}

.card__body {
  margin-top: 39px;
}
.card__body .body__title {
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  margin: 0;
}
.card__body .body__content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #333333;
  margin: 8px 0 0 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.card__footer {
  margin-top: 45px;
  align-items: center;
}
.card__footer .link {
  font-size: 14px;
  color: #3572b0;
  line-height: 16px;
  text-decoration: none;
}
.card__footer .btn {
  background: #3572b0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 16px;
  padding: 7px 13px 7px 14px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background 0.2s;
}
.card__footer .btn:hover {
  background: #2A5C8D;
}

/*# sourceMappingURL=styles.css.map */
